---
---
$background-color: #011119;
$background-color-svg: "%23011119";
$gray-color:       #618291;
$gray-color-svg:       "%23618291";
$text-color:       #F5F8FA;
$text-color-svg:       "%23F5F8FA";

$light-link-color: #21FFD6;
$link-color:       #06C4A1;
$dark-link-color:  #027862;

$light-alt-color:  #E0F0F8;
$light-alt-color-svg:  "%23E0F0F8";
$alt-color:        #0688C4;
$alt-color-svg:        "%230688C4";
$dark-alt-color:   #023045;
$dark-alt-color-svg:   "%23023045";

$mini-spacing:      14px;
$half-spacing:      1vw;
$half-spacing-h:    1vh;
$spacing:           2vw;
$spacing-h:         2vh;
$double-spacing:    4vw;
$double-spacing-h:  4vh;
$triple-spacing:    6vw;
$triple-spacing-h:  6vh;
$quadruple-spacing: 8vw;
$quadruple-spacing-h: 8vh;
$big-spacing:      10vw;
$big-spacing-h:    10vh;

$breakpoint-xs-1:  369px;
$breakpoint-xs:    370px;
$breakpoint-s-1:   549px;
$breakpoint-s:     550px;
$breakpoint-m-1:   749px;
$breakpoint-m:     750px;
$breakpoint-l-1:  1023px;
$breakpoint-l:    1024px;
$breakpoint-xl-1: 1599px;
$breakpoint-xl:   1600px;

$sans-serif-family: "PT Sans", "Open Sans", sans-serif;
$slab-family:       "Roboto Slab", "Open Sans", sans-serif;
$monospace-family:  "PT Mono", monospace;

@import 'mixins';
@import 'forms';

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Mono'), local('PTMono-Regular'), url('ptmono.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'), url('ptsans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('ptsans-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('ptsans-italic-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('ptsans-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular_Medium'), url('roboto-slab-medium.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html { font-size: 62.5%; }

.container {
  position: relative;
  width: 90vw;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Grille */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than $breakpoint-m */
@media (min-width: $breakpoint-m) {
  .column:not(:first-child),
  .columns:not(:first-child) {
    margin-left: 4%;
  }

  .one.column,
  .one.columns    { width: 4.66666666667%; }
  .two.columns    { width: 13.3333333333%; }
  .three.columns  { width: 22%;            }
  .four.columns   { width: 30.6666666667%; }
  .five.columns   { width: 39.3333333333%; }
  .six.columns    { width: 48%;            }
  .seven.columns  { width: 56.6666666667%; }
  .eight.columns  { width: 65.3333333333%; }
  .nine.columns   { width: 74.0%;          }
  .ten.columns    { width: 82.6666666667%; }
  .eleven.columns { width: 91.3333333333%; }
  .twelve.columns { width: 100%; margin-left: 0; }

  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
}

/* Général */
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  @media (prefers-color-scheme: light) {
    background-color: $text-color;
    color: $background-color;
  }
  font-family: $sans-serif-family;
  font-weight: 400;
  line-height: 1.4;
  font-size: max(2rem,2vw);
}

/* Images */
img { max-width: 100%; }
.illustrations {
  box-shadow: 0 2px 5px $background-color;
  @media (prefers-color-scheme: light) {
    box-shadow: 0 2px 5px $light-alt-color;
  }
}

.refcaption { text-align: center; }


/* Texte */
.lead {
  font-size: 2em; line-height: 1.2;
  @media (min-width: $breakpoint-m) {
    font-size: 2.5em; line-height: 1.1;
  }
}

.monospace  { font-family: $monospace-family; }
.sansserif  { font-family: $sans-serif-family; }
.slabserif  { font-family: $slab-family; }
.uppercase  { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

.hidden { display: none; }

.text-center { text-align: center; }
.text-right  { text-align: right; }

.gray-text       { color: $gray-color; }
.alt-text        { color: $alt-color; }

.mention {
  font-size: .8em;
  font-style: italic;
  opacity: .6;
}

hr {
  margin: $quadruple-spacing-h 0;
  border: none;
  border-bottom: 2px solid $gray-color;
  @media (min-width: $breakpoint-m) {
    border-width: 4px;
  }
}

/* Titres */

h1, h2, h3, h4, h5, h6 {
  font-family: $slab-family;
  line-height: 1.2;
  font-weight: 500;

  a {
    color: inherit;
    &:hover { text-decoration: underline; }
  }
}

h1 { font-size: 3em; line-height: 1; font-weight: normal; }
h2 { font-size: 2.5em; line-height: 1.1; }
h3 { font-size: 2em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.1em; }

/* Listes */
.no-style {
  margin-left: 0;
  padding-left: 0;
  li { list-style: none; }
}

ul:not(.list-inline):not(.no-style) li {
  padding-left: $half-spacing;
  margin-left: $double-spacing;
}

.list-do {
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='"+$gray-color-svg+"' viewBox='0 0 16 16'%3E%3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z' %3E%3C/path%3E%3C/svg%3E");
}

.list-dont {
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='"+$gray-color-svg+"' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z' %3E%3C/path%3E%3C/svg%3E");
}

.list-inline li {
  list-style: none;
  display: inline;
  margin-left: 0;

  + li::before {
    color: $gray-color;
    content: " · ";
  }

  &.item-break::before {
    display: block;
    content: "\a";
  }
}

.list-inline.breadcrumb li + li::before { content: none; }
.list-inline.breadcrumb li::after {
  color: $gray-color;
  content: " ‣";
  vertical-align: text-top;
}

@media (max-width: $breakpoint-m-1) {
  ul.list-inline-s { padding-left: 0; }
  ul.list-inline-s li {
    list-style: none;
    display: inline;
    padding-left: 0;
    margin-left: 0;

    + li::before {
      opacity: .35;
      content: " · ";
    }
  }
}

.button-list li + li {
  margin-left: $spacing;
  &::before { content: none; }
}

blockquote p::before { content: "« "; }
blockquote p:not(.footer)::after { content: " »"; }
blockquote .quote { font-style: italic; }
blockquote .footer { font-size: .5em; }
blockquote .footer::before { content: "— "; }

a {
  color: $link-color;
  text-decoration: none;

  &:hover { text-decoration: underline; }

  img:not(.logo) { @include transition(box-shadow, .25s, ease); }
  &:hover img:not(.logo) { box-shadow: 0 0 0 1rem $light-link-color; }

  &::before, &::after {
    vertical-align: top;
    color: inherit;
  }
}

.newer::before { content: "‹ "; }
.contact::before { content: "› "; }
.older::after  { content: " ›"; }

abbr { border-bottom: 1px dotted; }

/* Boutons */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: $link-color;
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  padding: .5rem $spacing;
  border: 2px solid $link-color;
  border-radius: 0;
  background: #000;
  @media (prefers-color-scheme: light) {
    background-color: #fff;
  }
  &:hover {
    text-decoration: none;
    color: $light-link-color;
    border-color: $light-link-color;

    @media (prefers-color-scheme: light) {
      color: $dark-link-color;
      border-color: $dark-link-color;
    }
  }

  &.primary {
    background-color: $link-color;
    color: $background-color;
    text-shadow: 0 1px 1px $light-link-color;
    &:hover {
      background-color: $light-link-color;
      text-shadow: 0 1px 1px $text-color;
    }
    @media (prefers-color-scheme: light) {
      color: $text-color;
      text-shadow: 0 1px 1px $dark-link-color;
      &:hover {
        background-color: $dark-link-color;
        text-shadow: 0 1px 1px $dark-alt-color;
      }
    }
  }
}

.button-xs {
  border: none;
  font-size: inherit;
  color: inherit;
  background-color: $dark-alt-color;
  padding: 0 $half-spacing;
  &:hover {
    background-color: $dark-link-color;
    box-shadow: none;
    color: inherit;
  }
  @media (prefers-color-scheme: light) {
    background-color: $light-alt-color;
    &:hover { background-color: $light-link-color; }
  }
}

/* Tableau */
.responsive-table {
	position: relative;
	overflow-x: auto;
}

table {
  font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
  width: 100%;
  text-align: left;
}

th, td {
  padding: $mini-spacing $spacing;
  vertical-align: middle;
}

tbody tr:nth-child(odd) {
  background-color: $dark-link-color;
  @media (prefers-color-scheme: light) {
    background-color: $light-link-color;
  }
}

/* Header */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: $spacing-h 0;

  a {
    color: $light-alt-color;
    @media (prefers-color-scheme: light) {
      color: $dark-alt-color;
    }
    &:hover { text-decoration: none; }
    &.active { color: $gray-color; }
    &.button { margin: 0 -$spacing; }
  }
}

.submenu {
  flex-grow: 1;
  height: 95px;
}

.menu-item {
  flex-grow: 1;
  margin: $spacing-h 0;
}

.logo-container {
  height: 75px;
  flex-basis: 100%;
  margin: $spacing-h $spacing;
}

@keyframes fade {
  from { opacity: .1; }
  23%  { opacity: 1; }
  83%  { opacity: 1; }
  to   { opacity: .1; }
}

.logo {
  .half, .re       { fill: $light-alt-color; }
  .l-re            {
    fill: $light-link-color;
    animation: fade 2s ease infinite;
  }
  .under-over-line {
    fill: $light-link-color;
    opacity: 0;
    @include transition(opacity, .25s, ease);
  }
  @media (prefers-color-scheme: light) {
    .half, .re     { fill: $dark-alt-color; }
  }
}

@media (min-width: $breakpoint-xs) {
  .submenu { flex-grow: 2; width: 30%; }
  .submenu-gauche { order: 1; text-align: left; }
  .logo-container { order: 2; flex-basis: auto; }
  .submenu-droite { order: 3; text-align: right; }
}

@media (min-width:$breakpoint-s) {
  .submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  .menu-item   { margin: $half-spacing-h 0; }

  // Effet au survol
  .menu a:not(.logo-link):not(.button) {
    position: relative;
    padding: $mini-spacing 0;

    &:not(.active)::before, &:not(.active)::after {
      content:'';
      position: absolute;
      background-color: $light-link-color;
      width: 82%;
      height: 5px;
      left: 9%;
      opacity: 0;
      @include transition(opacity, .25s, ease);
    }
    &::before {   top: 0; }
    &::after { bottom: 0; }
    &:hover::before, &:hover::after { opacity: 1; }
  }
  .logo:hover {
    .under-over-line { opacity: 1; }
  }
}

/* Backgrounds */
.alt-bg {
  background-color: $dark-alt-color;
  background: linear-gradient(to bottom right, $dark-alt-color -15%, $background-color 115%);
  @media (prefers-color-scheme: light) {
    background-color: $light-alt-color;
    background: linear-gradient(to bottom right, $light-alt-color -15%, $text-color 115%);
  }
}

.alt-bg-st {
  background-color: $dark-alt-color;
  background: linear-gradient($dark-alt-color -15%, $background-color 50%);
  @media (prefers-color-scheme: light) {
    background-color: $light-alt-color;
    background: linear-gradient($light-alt-color -15%, $text-color 50%);
  }
}

.gray-bg {
  background-color: $dark-alt-color;
  @media (prefers-color-scheme: light) {
    background-color: $light-alt-color;
  }
}

/* Sections */
@keyframes wanim {
  0%  { transform: translate3d(0, -.15em, 0); opacity: 0; }
  3%  { transform: translate3d(0, 0, 0); opacity: 1; }
  17% { opacity: 1; }
  23% { opacity: 0; }
}

.big-title {
  text-align: center;

  .fist {
    width: 33%;
    margin-top: 0;
    .trait-poing { fill: #000; }
    .fond-poing { fill: $alt-color; }
  }

  .spin {
    display: block;
    position: relative;
    height: 1em;
    text-align: center;
    color: $alt-color;
    span {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .w1 { animation: wanim 10s ease infinite; }
    .w2 { animation: wanim 10s ease 2s infinite; }
    .w3 { animation: wanim 10s ease 4s infinite; }
    .w4 { animation: wanim 10s ease 6s infinite; }
    .w5 { animation: wanim 10s ease 8s infinite; }
  }

  @media (min-width: $breakpoint-m-1) {
    &.home, .spin { text-align: left; }
    .fist { width: 100%; }
  }

  h1 {
    font-family: $slab-family;
    color: $text-color;
    @media (prefers-color-scheme: light) {
      color: $background-color;
    }
    font-size: min(17vh,15vw);
    @media (min-width: $breakpoint-m) {
      font-size: min(150px,9.3vw);
    }
  }

  .sous-menu,
  .breadcrumb {
    font-size: .9em;
    a {
      color: $light-alt-color;
      @media (prefers-color-scheme: light) {
        color: $dark-alt-color;
      }
      margin: 0 $half-spacing;
    }
  }
}

.card {
  position: relative;
  background-color: $dark-alt-color;
  a:not(.button) { color: $light-link-color; }
  @media (prefers-color-scheme: light) {
    background-color: $light-alt-color;
    a:not(.button) { color: $dark-link-color; }
  }
  padding: $half-spacing-h $double-spacing ;

  @media (max-width: $breakpoint-m-1) {
    .carousel {
      overflow-x: scroll;
      margin: 0 (-$double-spacing);
      .row {
        width: 200vw;
        .four.columns {
          width: 30.5%;
          margin-left: $double-spacing;
        }
      }
    }
  }
}

.icon::before {
  display: inline-block;
  width: 1em;
  margin-right: $spacing;
  @media (orientation: portrait) and (max-width: $breakpoint-m) {
    margin-right: $double-spacing;
  }
  vertical-align: middle;
}

.icon.sober::before {
  content: url("data:image/svg+xml,%3Csvg fill='"+$alt-color-svg+"' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z'/%3E%3C/svg%3E");
}

.icon.simple::before {
  content: url("data:image/svg+xml,%3Csvg fill='"+$alt-color-svg+"' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6 1H1v14h5V1zm9 0h-5v5h5V1zm0 9v5h-5v-5h5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1h-5z'/%3E%3C/svg%3E");
}

.icon.shield::before {
  content: url("data:image/svg+xml,%3Csvg fill='"+$alt-color-svg+"' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z'/%3E%3E%3Cpath d='M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

.icon.target::before {
  content: url("data:image/svg+xml,%3Csvg fill='"+$alt-color-svg+"' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z'%3E%3C/path%3E%3Cpath d='M9 7.5a.5.5 0 0 1 .5-.5H15v2H9.5a.5.5 0 0 1-.5-.5v-1zm-2 3v1a.5.5 0 0 1-.5.5H1v-2h5.5a.5.5 0 0 1 .5.5z' %3E%3C/path%3E%3C/svg%3E");
}

.icon.creation::before {
  content: url("data:image/svg+xml,%3Csvg fill='"+$alt-color-svg+"' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z' %3E%3C/path%3E%3C/svg%3E%0A");
}

.icon.realisation::before {
  content: url("data:image/svg+xml,%3Csvg fill='"+$alt-color-svg+"' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'%3E%3C/path%3E%3Cpath d='M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z' %3E%3C/path%3E%3C/svg%3E");
}

/* Blog */
time { font-size: max(1.6rem,1.6vw); }

.catags,
.sticky { font-size: .8em; }

.article time { display: block; }

.sticky {
  position: sticky;
  top: $double-spacing-h;
  h6 { font-size: inherit; }
  @media (max-width: $breakpoint-m-1) {
    margin-top: $double-spacing-h;
    padding-top: $double-spacing-h;
    text-align: center;
    border-top: $half-spacing-h solid $light-alt-color;
  }
}

/* Footer */
footer {
  font-size: .9em;
  @media (orientation: portrait) {
    line-height: 1.6;
  }

  @media (min-width: $breakpoint-m) {
    text-align: right;
    .zero { text-align: left; }
    .row {
      display: flex;
      align-items: flex-end;
    }
  }
}

/* Spacing */
p, ul, ol, table { padding: 0; }

h1, h2, h3, h4, h5, h6  { margin: $double-spacing-h 0 $spacing-h; }
p, ul, ol, table, input, textarea, form, dl { margin: 0 0 $spacing-h; }

.button-list            { margin: $double-spacing-h 0; }

.bg-bg                  { padding: $double-spacing-h 0 $triple-spacing-h; }

.big-title              { padding-bottom: $spacing-h; }
.big-title h1           { margin-top: $spacing-h; }
.big-title.home h1      { margin-bottom: $double-spacing-h; }
.big-title .sous-menu   { margin: $double-spacing-h 0 $spacing-h; }
.big-title .breadcrumb  { margin: $spacing-h 0 $double-spacing-h; }

section:not(:last-child):not(:only-of-type),
.sous-section:not(:last-child):not(:only-of-type) {
                          margin-bottom: $big-spacing-h; }
blockquote              { margin: $double-spacing-h 0 $triple-spacing-h; }
.illustrations          { margin: $double-spacing-h 0 0; }

.refcaption h3          { margin: 0 0 $half-spacing-h; }

.article time           { margin-bottom: $half-spacing-h; }
.article h3             { margin-top: $double-spacing-h; }

.sticky, figcaption     { margin-bottom: $spacing-h; }

footer                  { padding: $big-spacing-h 0 $double-spacing-h; }

@media (orientation: portrait) and (min-width: $breakpoint-m) {
  h1, h2, h3, h4, h5, h6  { margin: $spacing-h 0 $half-spacing-h; }
  p, ul, ol, table, input, textarea, form, dl { margin: 0 0 $half-spacing-h; }

  .button-list            { margin: $spacing-h 0; }

  .bg-bg                  { padding: $spacing-h 0 $double-spacing-h; }

  .big-title h1           { margin-top: $half-spacing-h; }
  .big-title.home h1      { margin-bottom: $spacing-h; }
  .big-title .sous-menu   { margin: $spacing-h 0 $half-spacing-h; }
  .big-title .breadcrumb  { margin: $half-spacing-h 0 $spacing-h; }

  section:not(:last-child):not(:only-of-type),
  .sous-section:not(:last-child):not(:only-of-type) {
                            margin-bottom: $double-spacing-h; }
  blockquote              { margin: $spacing-h 0 $double-spacing-h; }
  .illustrations          { margin: $spacing-h 0 0; }

  .article h3             { margin-top: $spacing-h; }

  .sticky, figcaption     { margin-bottom: $half-spacing-h; }

  footer                  { padding: $double-spacing-h 0 $spacing-h; }
}

/* Utilities */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-half-width {
  width: 50%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right { float: right; }
.u-pull-left  { float: left; }
