---
title: "À&nbsp;propos"
description: Qui suis-je ? Pourquoi HALF Révolution ? Toutes les réponses à vos questions.
active: a-propos
citation:
  quote: 'S’ils n’ont pas de <strong>site Web</strong>, qu’ils créent une page Facebook.'
  auteur: "Marie-Antoinette Zuckerberg"
---
{% include head.html %}

<div class="en-tete">
  {% include header.html %}
  {% include big-title.html sousmenu=site.data.a-propos.sousmenu %}
</div>
<div class="bg-bg">
  <div class="container">
    {% include section-qui.html %}
    {% include section-philosophie.html %}
    {% include section-valeurs.html %}
    {% include section-pourquoi.html %}
  </div>
</div>
<div class="bg-bg gray-bg">
  <div class="container">
    {% include section-un-projet.html %}
  </div>
</div>
{% include foot.html %}
