---
title: "Solution technique"
description: "Conseil, accompagnement et développement Web pour votre présence en ligne."
active: solution
---
{% include head.html %}

<div class="en-tete">
  <div class="solution">
    {% include header.html %}
    {% include big-title.html sousmenu = site.data.solution.sousmenu %}
  </div>
</div>
<div class="bg-bg">
  <div class="container">
    {% assign section =  site.data.home.sections[1] %}
    {% include section-prestations.html section = section %}
  </div>
</div>
<div class="bg-bg alt-bg">
  <div class="container">
    {% if site.data.solution.realisations %}
      {% include section-realisations.html realisations = site.data.solution.realisations %}
    {% endif %}
  </div>
</div>
<div class="bg-bg gray-bg">
  <div class="container">
    {% include section-tarifs.html %}
  </div>
</div>
{% include foot.html %}
