---
title: "Contact"
description: Contactez-moi pour toute question, information, demande de devis ou de tarifs.
active: contact
---
{% include head.html %}

<div class="en-tete">
  {% include header.html %}
  {% include big-title.html sousmenu=site.data.contact.sousmenu %}
</div>
<div class="bg-bg">
  <div class="container">
    {% include section-contact-formulaire.html %}
  </div>
</div>
<div class="bg-bg gray-bg">
  <div class="container">
    {% include section-contact-web.html %}
  </div>
</div>
{% include foot.html %}
