---
title: "Merci"
description: Merci pour votre demande de contact.
active: contact
---
{% include head.html %}

<div class="en-tete">
  {% include header.html %}
  {% include big-title.html %}
</div>
<div class="bg-bg">
  <div class="container text-center">
    <p>
      Merci pour votre demande de contact.<br>
      Je vous répondrai dans les plus brefs délais.
    </p>
  </div>
</div>
{% include foot.html %}
