<section class="big-title">
  <div class="container">
    {% if page.active == "blog" and page.category != "blog" %}
      <ul class="list-inline breadcrumb capitalize">
        <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        {% if page.layout == "post" %}
          <li><a href="{{ site.baseurl }}/blog/{{ page.category }}.html">{{ page.category }}</a></li>
        {% endif %}
      </ul>
    {% endif %}
    <div class="row">
      <div class="eight offset-by-two columns">
        <h1>
          {% if page.big-title %}
            {{ page.big-title }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
      </div>
    </div>
    {% if include.sousmenu %}
      <ul class="list-inline sous-menu">
        {% for item in include.sousmenu %}
          <li><a href="{{ item.linkurl }}">{{ item.link }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if page.category == "blog" %}
      <ul class="list-inline sous-menu">
        {% assign categories = site.categories | sort %}
        {% for category in categories | offset: 1 %}
          <li><a class="capitalize" href="{{ site.baseurl }}/blog/{{ category[0] }}.html">{{ category[0] }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>
