<section class="big-title home">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <svg width="400" class="fist" viewBox="0 0 400 500" xmlns="http://www.w3.org/2000/svg">
          <path class="fond-poing" d="m84 491 10-128-87.459-135.859 70.468-140.943 29.991 7.802 42-86 69 23 8-13 73 41-1 15 52 44-2 12 46.706 39.126-33.492 69.282-36.828 156.083-8.711 8.184-.52 93.284z" fill="#fff"/>
          <path class="trait-poing" d="m351 130 4-14-53.184-45.949 3.981-12.676-81.108-45.916-9.765 12.06-67.917-23.519-42.386 87.734-29.178-8.088-75.443 146.344 88.763 136.882-9.524 132.749 239.575 4.379-.289-95.159 9.475-8.841 38-160 34-68.776zm-4.583-11.068-78.427 129.173-50.99-29.105 78-142zm-118.417-96.932 64.984 38.808-84.981 158.299-47.003-28.107 35.603 6.846 43.907-62.123-58.51-16.723zm-75-11 57.291 22.762-35.824 79.234-19.703-2.742-42.776-18.281zm157 480-110-1 4.852-107.908 26.057 22.191 80.091-.283zm10.358-98.199-88.832 3.974-33.606-30.267-5.64 121.703-102.28-.211 7-119 62.799 5.151-65.799-19.151-83-129 68-137 67 28 84 24-37 48-96.297-20.066 36.297 15.066-35.733 14.512 49.733-10.512 60.883 40.223-5.699 116.726 13.816-117.949 51 30 10.565.46 50.028 34.446 28.407-41.906zm5.642-112.801-47-30 67-114 44 36z"/>
        </svg>
      </div>
      <div class="eight columns">
        <h1>
          {% if page.big-title %}
            {{ page.big-title }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <ul class="list-inline gray-text">
          {% for section in site.data.services.sections %}
            <li>{{ section.title }}</li>
          {% endfor %}
        </ul>
        <ul class="list-inline button-list">
          <li><a class="button older" href="{{ site.baseurl }}/services/">Découvrez mes services</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
