    <footer>
      <div class="container">
        <div class="row">
          <div class="six columns">
            <div itemscope itemtype="https://schema.org/Organization">
              <p class="monospace" itemprop="name"><strong>HALF</strong> revolution</p>
              <ul class="list-inline" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <li itemprop="addressLocality">Chambéry</li>
                <li class="item-break"><span itemprop="addressRegion">Rhône-Alpes</span>, <span itemprop="addressCountry">France</span>
                </li>
              </ul>
            </div>
            <ul class="list-inline">
              <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
              <li><a href="{{ site.baseurl }}/mentions-legales/">Mentions légales</a></li>
            </ul>
          </div>
          <div class="six columns zero">
            <p>
              <a href="{{ site.baseurl }}/blog/">Voir le blog</a>
            </p>
            <ul class="list-inline">
              <li class="item-break">Hébergé sur <a href="https://netlify.com">Netlify</a></li>
              <li class="item-break">Licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">CC&nbsp;by-sa&nbsp;4.0</a></li>
            </ul>
            <ul class="list-inline">
              <li><b>Zéro Cookie</b> sur ce site</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
