<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{ site.baseurl }}/img/favicon/site.webmanifest">
		<link rel="alternate" type="application/rss+xml" title="Le Blog de Half — RSS" href="{{ site.baseurl }}/feed.xml">
		<title>
			{% if page.title %}
				{{ page.title | strip_html }} ‧
			{% endif %}
			{% if page.active == "blog" and page.category != "blog" %}
			 	Blog ‧
			{% endif %}
			{{ site.title }}
		</title>
		<meta name="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ page.excerpt | strip_html }}{% endif %}">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/half.css" type="text/css" media="screen">
		<link rel="preload" href="{{ site.baseurl }}/css/roboto-slab-medium.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/css/ptsans.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/css/ptmono.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/css/ptsans-italic.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/css/ptsans-italic-bold.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.baseurl }}/css/ptsans-bold.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<body>
		<div class="hidden">
			<ul>
				<li><a href="#menu">Aller au menu</a></li>
				<li><a href="#content">Aller au contenu</a></li>
			</ul>
		</div>
