<header itemscope itemtype="http://www.schema.org/WPHeader">
  <nav id="menu" class="menu container" aria-label="Navigation générale" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <div class="menu-item logo-container" itemprop="name">
      <a  class="logo-link"
          href="{{ site.baseurl }}/"
          itemprop="url">
        <svg class="logo" height="75" width="114" viewBox="126 175 798 525" xmlns="http://www.w3.org/2000/svg">
          <path class="under-over-line" d="m168 700v-35h714v35zm0-490v-35h336v35zm588 0v-35h126v35z"/>
          <path class="l-re" d="m588 280h-42v-105h168v245h-42v-210h-84z"/>
          <path class="half" d="m756 315h168v35h-126v70h105v35h-105v105h-42zm-84 140h42v105h-168v-245h42v210h84zm-336 105v-245h168v245h-42v-105h-84v105zm42-140h84v-70h-84zm-126 35h-84v105h-42v-245h42v105h84v-105h42v245h-42z"/>
        </svg>
      </a>
    </div>
    <div class="submenu submenu-gauche">
      <div class="menu-item" itemprop="name">
        <a{% if page.active == "services" %} class="active"{% endif %}
            href="{{ site.baseurl }}/services/"
            itemprop="url">Services</a>
      </div>
      <div class="menu-item" itemprop="name">
        <a{% if page.active == "references" %} class="active"{% endif %}
            href="{{ site.baseurl }}/references/"
            itemprop="url">Références</a>
      </div>
    </div>
    <div class="submenu submenu-droite">
      <div class="menu-item" itemprop="name">
        <a{% if page.active == "a-propos" %} class="active"{% endif %}
            href="{{ site.baseurl }}/a-propos/"
            itemprop="url">À propos</a>
      </div>
      <div class="menu-item" itemprop="name">
        <a{% if page.active == "contact" %} class="active"{% endif %}
              href="{{ site.baseurl }}/contact/"
            itemprop="url">Contact</a>
      </div>
    </div>
  </nav>
</header>
