<div class="sous-section article">
  <div class="row">
    <div class="four columns">
      <a  class="post-link"
          {% if post.layout != 'link' %}
            href='{{ site.baseurl }}{{ post.url }}'
          {% else %}
            href='{{ post.link_url }}'
          {% endif %}>
        <img class="illustrations" src="{{ site.baseurl }}{{ post.img_url }}" alt="Image du post {{ post.title }}">
      </a>
    </div>
    <div class="eight columns">
      <h3>
        <time class="gray-text sansserif" datetime="{{ post.date | date: '%F' }}">{{ include.post.date | date: "%d/%m/%Y" }}</time>
        <a  class="post-link"
          {% if post.layout != 'link' %}
            href='{{ site.baseurl }}{{ post.url }}'
          {% else %}
            href='{{ post.link_url }}'
          {% endif %}>{{ include.post.title }}</a>
      </h3>
      <p>
        {% if post.layout == 'link' %}
          {{ post.img_caption | strip_html | truncatewords: '30' }}
        {% else %}
          {{ post.excerpt | strip_html | truncatewords: '30' }}
        {% endif %}
      </p>
      <p>
        {% if post.layout != 'link' %}
          <a class="button older" href="{{ site.baseurl }}{{ post.url }}">Lire la suite</a>
        {% else %}
          <a class="button older" href="{{ post.link_url }}">Voir sur <span class="gray-text">{{ post.source }}</span></a>
        {% endif %}
      </p>
    </div>
  </div>
</div>
