<div class="four columns">
  <a  title="{{ include.post.title }}"
      class="post-link"
      {% if post.layout != 'link' %}
        href='{{ site.baseurl }}{{ post.url }}'
      {% else %}
        href='{{ post.link_url }}'
      {% endif %}>
    <img class="illustrations" src="{{ site.baseurl }}{{ post.img_url }}" alt="Image du post {{ post.title }}">
  </a>
</div>
