<div class="{{ include.columns }} columns">
  {% if include.columns == "four" %}
    <a title="{{ include.ref.link }}" href="{{ include.ref.linkurl }}">
  {% endif %}
  <img class="illustrations" src="{{ site.baseurl }}{{ include.ref.imgurl }}" alt="{{ include.ref.imgalt }}" loading="lazy">
  {% if include.columns == "four" %}
    </a>
  {% endif %}
  <div class="refcaption">
    {% if include.details == "oui" %}
      <h3>{{ include.ref.title }}</h3>
      <ul class="list-inline">
        {% for item in include.ref.list %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      {% if include.ref.linkblog or include.ref.linkurl %}
        <ul class="no-style">
        {% if include.ref.linkurl %}
          <li><a title="{{ include.ref.link }}" class="older" href="{{ include.ref.linkurl }}">Voir le site</a></li>
        {% endif %}
        {% if include.ref.linkblog %}
          <li><a class="older" href="{{ include.ref.linkblog }}">Plus sur ce projet</a></li>
        {% endif %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
</div>
