<section id="legal">
  <h2>Informations légales</h2>
  <div itemscope itemtype="https://schema.org/Organization">
    <p>
      <strong itemprop="name">Half Revolution</strong><br>
      <span itemprop="founder" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ site.author }}</span>
      </span><br>
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">8 place de Genève</span><br>
        <span itemprop="postalCode">73000</span> <span itemprop="addressLocality">Chambéry<br>
        <span itemprop="addressRegion">Rhône-Alpes</span>, <span itemprop="addressCountry">France</span></span>
      </span>
    </p>
    <p>
      <b>Directeur de la publication</b><br>
      <span itemprop="member" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ site.author }}</span>
      </span>
    </p>
    <p>
      <b>Contact</b><br>
      <span itemprop="email">{{ site.data.contact.email }}</span><br>
    </p>
  </div>
  <p>
    <b>Hébergeur</b><br>
    Netlify, Inc.<br>
    2325 3rd Street, Suite 296,<br>
    San Francisco, California 94107,<br>
    United States of America
  </p>
</section>
