<section id="realisations">
  <h2>Réa&shy;lisations</h2>
  <div class="row">
    <div class="ten columns">
      <p>
        Voici quelques-unes de mes dernières réalisations.
      </p>
    </div>
  </div>
  {% for item in include.realisations %}
    <div class="sous-section">
      <div class="row">
        <div class="six columns">
          <h3>{{ item.title }}</h3>
          <ul class="list-inline-s">
            {% for item in item.list %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% if item.link %}
            <ul class="list-inline button-list">
              <li><a class="button older" href="{{ site.baseurl }}{{ item.linkurl }}">{{ item.link }}</a></li>
            </ul>
          {% endif %}
        </div>
        <div class="six columns">
          {% if item.link %}<a href="{{ site.baseurl }}{{ item.linkurl }}">{% endif %}
          <img class="illustrations" src="{{ site.baseurl }}{{ item.imgurl }}" alt="{{ item.imgalt }}" loading="lazy">
          {% if item.link %}</a>{% endif %}
        </div>
      </div>
      {% if item.imgurl3 %}
        <div class="row extra-illus">
          <div class="six columns">
            <img class="illustrations" src="{{ site.baseurl }}{{ item.imgurl2 }}" alt="{{ item.imgalt2 }}" loading="lazy">
          </div>
          <div class="six columns">
            <img class="illustrations" src="{{ site.baseurl }}{{ item.imgurl3 }}" alt="{{ item.imgalt3 }}" loading="lazy">
          </div>
        </div>
      {% endif %}
      {% if item.imgurl5 %}
        <div class="row extra-illus">
          <div class="six columns">
            <img class="illustrations" src="{{ site.baseurl }}{{ item.imgurl5 }}" alt="{{ item.imgalt5 }}" loading="lazy">
          </div>
          <div class="six columns">
            <img class="illustrations" src="{{ site.baseurl }}{{ item.imgurl4 }}" alt="{{ item.imgalt4 }}" loading="lazy">
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
