<section id="surleweb">
  <div class="row">
    <div class="eight offset-by-two columns">
      <h3>Sur le Web</h3>
      <p>
        On se retrouve aussi sur
        {% for item in site.data.contact.surleweb %}
          <a href="{{ item.linkurl }}">{{ item.link }}</a>,
        {% endfor %}
        pour des échanges moins formels.
      </p>
    </div>
  </div>
</section>
