<section id="valeurs">
  <div class="row">
    <div class="eight offset-by-two columns">
      <h2>Mes valeurs</h2>
      <h3 class="icon sober">Sobriété</h3>
      <p>
        Aussi bien graphique que technique, c’est le point de départ de mon travail.
        Une identité visuelle <strong>honnête</strong> et des solutions techniques <strong>économes</strong>.
      </p>
      <h3 class="icon simple">Simplicité</h3>
      <p>
        Ça peut paraître redondant, je pense que c’est complémentaire.
        <strong>Faire simple pour que ça dure</strong>, en utilisant des technologies éprouvées et pérennes (html, css, markdown).
      </p>
      <h3 class="icon shield">Vie privée</h3>
      <p>
        L’objectif est d’envoyer le minimum d’informations personnelles aux géants du Web.
        <strong>Respecter les visiteurs</strong> qui viennent chez nous me semble être la moindre des choses.
      </p>
      <ul class="list-inline button-list">
        {% if page.active == "a-propos" %}
          <li><a class="button older" href="{{ site.baseurl }}/services/">Découvrir mes services</a></li>
        {% else %}
          <li><a class="button older" href="{{ site.baseurl }}/a-propos/">En savoir plus</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>
