<section id="tarifs">
  <div class="row">
    <div class="five columns">
      <h2>Tarifs</h2>
      <p>
        Les tarifs sont donnés à titre indicatif.
      </p>
      <p>
        <a class="contact" href="{{ site.baseurl }}/contact/">Contactez-moi</a> pour un devis personnalisé.
      </p>
    </div>
    <div class="seven columns">
      <div class="responsive-table">
        <table>
          <thead>
            <tr>
              <th class="text-center" colspan="2">Durée</th>
              <th class="text-right">Tarif</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1 heure</th>
              <td>1h</td>
              <td class="text-right">50&nbsp;€<span class="gray-text">HT</span></td>
            </tr>
            <tr>
              <th>½ journée</th>
              <td>3h</td>
              <td class="text-right">150&nbsp;€<span class="gray-text">HT</span></td>
            </tr>
            <tr>
              <th>1 journée</th>
              <td>6h</td>
              <td class="text-right">300&nbsp;€<span class="gray-text">HT</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
