<section id="un-projet">
  <div class="row">
    <div class="eight offset-by-two columns">
      <h2>Un projet&nbsp;?</h2>
      <p>
        Pour discuter de vos besoins, pour une demande d’information, de devis ou pour toute autre question.
      </p>
      <ul class="list-inline">
        <li><a class="button primary older" href="{{ site.baseurl }}/contact/">Contactez-moi</a></li>
      </ul>
    </div>
  </div>
</section>
