<section id="philosophie">
  <div class="row">
    <div class="eight offset-by-two columns">
      <h2>Ma philosophie</h2>
    </div>
  </div>
  <div class="row text-center lead">
    <div class="ten offset-by-one columns">
      <blockquote cite="{{ include.citation.auteur }}">
        <p class="alt-text quote">{{ page.citation.quote }}</p>
        <p class="gray-text footer">{{ page.citation.auteur }}</p>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="eight offset-by-two columns">
      <p>
        Parce que ce genre de phrases me donnent envie de <strong>faire la révolution</strong>.
        Parce que <strong>le Web ne doit pas être accaparé</strong> par quelques géants outre-Atlantique.
      </p>
      <p>
        Je souhaite participer à <strong>la décentralisation des données</strong> en proposant mes services
        à ceux qui souhaitent conserver leur <strong>indépendance éthique</strong>, graphique et technique.
      </p>
      <p>
        Je crée <strong>des sites Web simples et rapides</strong> qui répondent
        aux besoins de mes clients et de leurs visiteurs.
      </p>
        <ul class="list-inline button-list">
          <li><a class="button older" href="{{ site.baseurl }}/references/">Voir les références</a></li>
        </ul>
    </div>
  </div>
</section>
