<section id="prestations">
  <h2>Presta&shy;tions</h2>
  <div class="row">
    <div class="seven columns">
      <p>
        {{ include.section.description }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="seven columns">
      <h3>Je fais</h3>
      <ul class="list-inline">
        {% for item in include.section.list %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="five columns">
      <h3 class="gray-text"><s>Mais pas</s></h3>
      <ul class="list-inline  gray-text">
        {% for item in include.section.nolist %}
          <li><s>{{ item }}</s></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="ten columns">
      <h3>Aller plus loin</h3>
      <p>
        <a class="contact" href="{{ site.baseurl }}/contact/">Contactez-moi</a> pour discuter de vos besoins.<br>
        Et jetez un œil à mes précédentes <strong>créations</strong> ci-dessous.
      </p>
    </div>
  </div>
</section>
