<section>
  <div class="row cards">
    {% for section in include.sections %}
      <div class="six columns card {{ section.class }}">
        <div class="content">
          <h2 class="text-center"><a href="{{ site.baseurl }}{{ section.linkurl }}">{{ section.title }}</a></h2>
          <p>{{ section.description }}</p>
        </div>
        <ul class="list-inline button-list text-center">
          <li><a class="button primary older u-full-width" href="{{ site.baseurl }}{{ section.linkurl }}">{{ section.link }}</a></li>
        </ul>
      </div>
    {% endfor %}
  </div>
</section>
