<section id="quisuisje">
  <div class="row">
    <div class="eight offset-by-two columns">
      <h2>Qui je suis</h2>
      <ul class="list-inline">
        <li>Olivier</li>
        <li>37&nbsp;ans</li>
        <li>Chambéry</li>
        <li>écolo</li>
        <li>14&nbsp;ans d’expérience</li>
      </ul>
      <p>
        <a class="older" href="https://odevillardi.fr/">Voir mon site perso</a>
      </p>
    </div>
  </div>
</section>
