<section class="row text-center lead">
  <div class="ten offset-by-one columns">
    <blockquote class="alt-text" cite="{{ include.citation.auteur }}">
      <p>{{ page.citation.quote }}</p>
      <p class="footer">{{ page.citation.auteur }}</p>
    </blockquote>
  </div>
</section>
