<section id="en-ligne" class="card">
  <h2>C’est sorti</h2>
  {% assign derniers-projets = site.posts | where: "selection", "oui" %}
  <div class="carousel">
    <div class="row">
      {% for ref in site.data.references.realisations limit: 3 %}
        {% include ref-item.html ref=ref columns="four" %}
      {% endfor %}
    </div>
  </div>
  <ul class="list-inline button-list">
    <li><a class="button older" href="{{ site.baseurl }}/references/">Toutes les références</a></li>
  </ul>
</section>
