<section id="pourquoi">
  <div class="row">
    <div class="eight offset-by-two columns">
      <h2>Pourquoi Half revolution&nbsp;?</h2>
      <p>
        Parce qu’une <strong>révolution</strong> vous ramène
        à l’endroit exact où vous vous trouviez&nbsp;: c’est un tour complet inutile.
        Une pirouette.
      </p>
      <p>
        Alors qu’une <strong>demi-révolution</strong> est idéale
        pour se retrouver dans un endroit inexploré.
      </p>
      <p>
        C’est aussi un <strong>demi-tour</strong> pour revenir
        aux choses simples du Web, plus sobres et très efficaces.
      </p>
      <p>Enfin, c’est un bon moyen pour faire des jeux de mots avec le
        <strong>re</strong>&nbsp;: <strong>ré</strong>création, <strong>ré</strong>solution…
      </p>
    </div>
  </div>
</section>
