<section id="formulaire">
  <div class="row">
    <div class="eight offset-by-two columns">
      <p>
        Contactez-moi pour discuter de vos besoins,
        pour une demande d’information, de devis
        ou pour toute autre question.
      </p>
      <h3>Email</h3>
      <form aria-label="Formulaire de contact"
            name="contact"
            action="/contact/merci.html"
            method="POST"
            data-netlify="true">
        <label class="required" for="your-email">Votre email</label>
        <input aria-label="Votre email" id="your-email" class="label-body" type="email" name="_replyto" placeholder="youremail@example.com" equired>
        <p class="mention">Votre email servira uniquement à vous répondre, il sera conservé au maximum 36 mois après la fin de nos échanges.</p>
        <label class="required" for="your-message">Votre message</label>
        <textarea aria-label="Votre message" id="your-message" class="label-body u-full-width" name="message" placeholder="Bonjour…" required></textarea>
        <input aria-label="Bouton de validation" class="primary u-half-width" type="submit" value="Envoyer">
      </form>
    </div>
  </div>
</section>
