<section id="emailtel">
  <div class="row">
    <div class="eight offset-by-two columns">
      <h3>Téléphone</h3>
      <ul class="list-inline">
        <li><a href="tel:{{ site.data.contact.telephoneint }}">{{ site.data.contact.telephone }}</a></li>
      </ul>
    </div>
  </div>
</section>
