<div class="four columns sticky">
	<ul class="list-inline breadcrumb">
		<li><a href="{{ site.baseurl }}/">Accueil</a></li>
		<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
		<li><a class="capitalize" href="{{ site.baseurl }}/blog/{{ include.post.category }}.html">{{ include.post.category }}</a></li>
	</ul>
	<h6>{{ include.post.title }}</h6>
	<ul class="list-inline">
		{% for tag in include.post.tags %}
			<li itemprop="articleSection">
				<a  class="button button-xs text-capitalize {{ tag }}"
						href="{{ site.baseurl }}/blog/tag/{{ tag }}.html"
						role="button">
					{{ tag }}</a>
			</li>
		{% endfor %}
	</ul>
	<ul class="list-inline">
		<li>
			Le <time datetime="{{ include.post.date | date: '%F' }}" itemprop="datePublished dateModified">{{ include.post.date | date: "%d/%m/%Y" }}</time>
		</li>
		<li>
			Par
			<span itemprop="author">
				{% if include.post.layout == "link" %}
					{{ include.post.source }}
				{% else %}
					{{ site.author }}
				{% endif %}
			</span>
		</li>
	</ul>
	{% if include.post.related %}
		<ul class="list-inline related">
			<li class="list-title">Dans le même genre&nbsp;:</li>
			{% for related in include.post.related %}
				<li>
					<a href="{{ site.baseurl }}/blog/{{ related.url }}.html">
						{{ related.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
