---
title: "Références"
description: "Les derniers projets réalisés."
---
{% include head.html %}

<div class="en-tete">
  {% include header.html %}
  {% include big-title.html sousmenu = site.data.references.sousmenu %}
</div>
<div class="bg-bg">
  <div class="container">
    <section id="en-ligne">
      <h2>C’est sorti</h2>
      {% assign compteur = 0 %}
      {% for ref in site.data.references.realisations %}
        {% assign compteur = compteur | plus: 1 %}
        {% if compteur == 1 %}
          <div class="row">
        {% endif %}
        {% include ref-item.html ref=ref details="oui" columns="six" %}
        {% if compteur == 2 %}
          {% assign compteur = 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </div>
</div>
<div class="bg-bg">
  <div class="container card">
    {% include section-tarifs.html %}
  </div>
</div>
<div class="bg-bg gray-bg">
  <div class="container">
    {% include section-un-projet.html %}
  </div>
</div>
{% include foot.html %}
