@mixin transition($transition, $duration, $type) {
  @media screen and (prefers-reduced-motion: no-preference) {
    -webkit-transition: $transition $duration $type;
            transition: $transition $duration $type;
  }
}

@mixin box-shadow($rule) {
  -webkit-box-shadow: $rule;
          box-shadow: $rule;
}
