---
title: "Services"
description: "Accompagnement, création graphique et réalisation Web pour votre présence sur Internet."
---
{% include head.html %}

<div class="en-tete">
  {% include header.html %}
  {% include big-title.html sousmenu = site.data.services.sousmenu %}
</div>
<div class="bg-bg">
  <div class="container">
    <section id="prestations">
      {% for service in site.data.services.sections %}
        <h2 class="icon {{ service.class }}">{{ service.title }}</h2>
        <p>{{ service.description }}</p>
        <div class="row">
          <div class="seven columns">
            <p>Je fais&nbsp;:</p>
            <ul class="list-do">
              {% for item in service.list %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="five columns gray-text">
          <p><s>Je ne fais pas&nbsp;:</s></p>
          <ul class="list-dont">
            {% for item in service.nolist %}
              <li><s>{{ item }}</s></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
    </section>
  </div>
</div>
<div class="bg-bg">
  <div class="container card">
    {% include section-tarifs.html %}
  </div>
</div>
<div class="bg-bg gray-bg">
  <div class="container">
    {% include section-un-projet.html %}
  </div>
</div>
{% include foot.html %}
