---
layout: post
title: Redesign du SHC Fontenay
date: '2017-10-16T22:41:33+02:00'
category:
- projets
tags:
- design
- sport
img_url: /blog/posts-img/shcf-list.jpg
related:
- url: 2020/10/09/site-web-maillots-communication-hcc
  title: "Redesign du HC Chambéry"
active: blog
---
<p>En 2015, le club de rink hockey le
  <a href="http://facebook.com/SHCFontenay/"><abbr title="Sporting Hockey Club de Fontenay sous bois">SHCF</abbr></a>
  a fêté ses 50 ans. Pour l'occasion, j'ai dessiné un nouveau blason et de nouveaux maillots.</p>

<figure>
	<img src="/blog/posts-img/logo-shcf-old-new.jpg" alt="Évolution du blason du SHCF">
	<figcaption>
		Évolution du blason du <a href="http://facebook.com/SHCFontenay/"><abbr title="Sporting Hockey Club de Fontenay sous bois">SHCF</abbr></a>
	</figcaption>
</figure>

<h3>Simplification</h3>
<p>Mon premier objectif était de simplifier et rendre plus lisible le blason du club.
  De plus, depuis plusieurs années, le club diversifie ses activités de rollers ce qui justifiait,
  pour moi, l'abandon de la définition particulièrement longue des initiales
  <a href="http://facebook.com/SHCFontenay/"><abbr title="Sporting Hockey Club de Fontenay sous bois">SHCF</abbr></a>.
  L'ajout de la date a permis de marquer les 50 ans du club.</p>

<h3>Le lion et le patineur</h3>
<p>Il me semblait important de reprendre le lion du Sporting, symbole du partenariat
  original entre le <a href="http://facebook.com/SHCFontenay/"><abbr title="Sporting Hockey Club de Fontenay sous bois">SHCF</abbr></a>
  et <a href="https://fr.wikipedia.org/wiki/Sporting_Clube_de_Portugal"><abbr title="Sporting Clube de Portugal">SCP</abbr></a>.</p>
<p>Le lion avait vécu 27 ans, de 1965 à 1992 moment où le patineur a pris le
  relais pour figurer sur les blasons du club pendant 23 ans.</p>

<figure>
	<img src="/blog/posts-img/evolution-logo-shcf.jpg" alt="Évolution du blason du SHCF depuis 50 ans">
	<figcaption>
		Évolution du blason du <a href="http://facebook.com/SHCFontenay/"><abbr title="Sporting Hockey Club de Fontenay sous bois">SHCF</abbr></a> depuis 50 ans
	</figcaption>
</figure>

<p>L'association des deux permet de faire le lien avec le passé du club,
  toujours très important dans l'esprit des plus anciens membres.
  Le lion se retrouve d'ailleurs en filigrane sur le maillot extérieur (ci-dessous)
  ainsi que sur les maillots des gardiens.</p>

<h3>Les maillots</h3>
<p>Les traditionnelles rayures verticales ont été une évidence pour le maillot domicile.
  J'ai opté pour 4 rayures afin de pouvoir placer le blason à cheval sur deux rayures
  pour faire ressortir l'oblique et donner de la dynamique. Pour l'extérieur,
  seulement deux larges bandes pour assurer une vraie différence avec le 1er jeu et
  donner de l'importance au noir qui, associé au short noir, donne un impact fort.</p>

<figure>
	<img src="/blog/posts-img/maillots-shcf.jpg" alt="Nouveaux maillots du SHCF">
	<figcaption>
		Nouveaux maillots du <a href="http://facebook.com/SHCFontenay/"><abbr title="Sporting Hockey Club de Fontenay sous bois">SHCF</abbr></a>
	</figcaption>
</figure>
