{% include head.html %}
<div class="en-tete">
  {% include header.html %}
  {% include big-title-home.html %}
</div>
<div class="bg-bg">
  <div class="container">
    {% include section-en-ligne.html %}
    {% include section-valeurs.html %}
  </div>
</div>
<div class="bg-bg gray-bg">
  <div class="container">
    {% include section-un-projet.html %}
  </div>
</div>
{% include foot.html %}
