{% include head.html %}
<div class="en-tete">
  {% include header.html %}
  {% include big-title.html %}
</div>
<div class="bg-bg">
  <div class="container">
    <section>
			<article class="row" itemscope itemtype="http://schema.org/Article">
					<div class="eight columns" itemprop="articleBody">
						<figure>
							<a class="thumbnail" href="{{ page.link_url }}" title="À lire sur {{ page.source }}">
								<img src="{{ page.img_url }}" alt="{{ page.title }}" itemprop="image">
							</a>
							<figcaption>
								{{ page.img_caption }}
							</figcaption>
						</figure>
						<p class="text-center">
							<a class="button button-primary" href="{{ page.link_url }}">À lire sur {{ page.source }}</a>
						</p>
					</div>
					{% include sticker.html post=page %}
			</article>
    </section>
  </div>
</div>
{% if paginator.previous_page_path or paginator.next_page_path or page.next or page.previous %}
  <div class="bg-bg gray-bg">
    <div class="container text-center plus-loin">
      <h5>Aller plus loin</h5>
      <ul class="list-inline">
        {% if page.next %}
          <li>
            <a class="newer" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title | strip_html }}</a>
          </li>
        {% endif %}
        {% if page.previous %}
          <li class="item-break">
            <a class="older" href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title | strip_html }}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
{% include foot.html %}
