{% include head.html %}
<div class="en-tete">
  {% include header.html %}
  {% include big-title.html %}
</div>
<div class="bg-bg">
  <section>
    <div class="container">
      {{ page.content | markdownify }}
    </div>
  </section>
</div>
{% include foot.html %}
