{% include head.html %}
<div class="en-tete">
  <div class="blog">
    {% include header.html %}
    {% include big-title.html %}
  </div>
</div>
<div class="bg-bg">
  <article class="container" itemscope itemtype="http://schema.org/Article">
    <section>
      <div class="row">
        <div class="eight columns" itemprop="articleBody">
          {{ page.content | markdownify }}
        </div>
        {% include sticker.html post=page %}
      </div>
    </section>
  </article>
</div>
{% if paginator.previous_page_path or paginator.next_page_path or page.next or page.previous %}
  <div class="bg-bg gray-bg">
    <div class="container text-center plus-loin">
      <h5>Plus de billets</h5>
      <ul class="list-inline">
        {% if page.next %}
          <li>
            <a class="newer" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title | strip_html }}</a>
          </li>
        {% endif %}
        {% if page.previous %}
          <li class="item-break">
            <a class="older" href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title | strip_html }}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
{% include foot.html %}
