{% include head.html %}

<div class="en-tete">
  <div class="blog">
    {% include header.html %}
    {% include big-title.html %}
  </div>
</div>
<div class="bg-bg">
  <div class="container">
    <section>
      <div class="row">
        <div class="eight offset-by-two columns">
          {{ page.content | markdownify }}
        </div>
      </div>
    </section>
    <section>
      {% if page.category %}
        {% for category in site.categories %}
          {% if category[0] == page.category %}
            {% assign selection = category %}
          {% endif %}
        {% endfor %}
      {% elsif page.tag %}
        {% for tag in site.tags %}
          {% if tag[0] == page.tag %}
            {% assign selection = tag %}
          {% endif %}
        {% endfor %}
      {% endif %}
    	{% for post in selection[1] %}
		    {% include post-item-list.html post=post %}
    	{% endfor %}
    </section>
  </div>
</div>
{% if paginator.previous_page_path or paginator.next_page_path or page.next or page.previous %}
<div class="bg-bg gray-bg">
  <div class="navigation part text-center">
    <p class="text-center gray-text">Page {{ paginator.page }}/{{ paginator.total_pages }}</p>
    <p>
      {% if paginator.previous_page_path %}
        <a class="newer" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Billets plus récents</a>
      {% endif %}
      {% if paginator.next_page_path %}
        <a class="older" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Billets plus anciens</a>
      {% endif %}
    </p>
  </div> <!-- .part -->
</div>
{% endif %}
<div class="bg-bg gray-bg">
  <div class="container">
    {% include section-un-projet.html %}
  </div>
</div>
{% include foot.html %}
