---
title: "Mentions légales"
description: Toutes les indications légales.
---
{% include head.html %}

<div class="en-tete">
  {% include header.html %}
  {% include big-title.html %}
</div>
<div class="bg-bg">
  <div class="container">
    {% include section-legal.html %}
  </div>
</div>
{% include foot.html %}
